.App {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: xx-large;
    background-color: aquamarine;
  }

  body {
    background-color: rgb(32, 212, 152);
  }


    
   